.box {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  border: 1px solid var(--rsc-color, transparent);
}

.box > .title {
  place-self: center;

  color: var(--rsc-color);
}

.server {
  --rsc-color: blue;
}

.client {
  --rsc-color: red;
}
